.about_main{
    min-height: 100vh;
    width: var(--width_main);
    padding:0px var(--padd_main);
    padding-top:var(--nav_size);
}

.about_sub{
    width: 100%;
    min-height: 100%; 
   
}

.about_body{
    margin-top: 8vh;
    margin-bottom: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.AB_heading-1{
    all: unset;
    width: 100%;
    text-align: center;
    font-family: var(--font-second);
    font-size: calc(2vw + 2.5rem);
    margin-bottom: 1em;
}

.about_body_sections{
    width: 100%;
    display: flex;
}

.AB_sec-1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.AB_sec-2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.ab-sec-1_img{
    width: 50%;
    height: auto;
}

.AB_sec-2_p{
    width: 90%;
    text-align: left;
    font-size: clamp(1rem,1vw + 0.2rem,1.5rem);
    line-height: 2em;
    margin-bottom: 1em;
}

.AB_sec-2_sec{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.AB_sec-2_sec-div{
    width: 100%;
    display: flex;
    align-items: center;
}

.sec-2_sec-div-sec-1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.sec-2_sec-div-sec-2{
    flex: 5;
    font-size: clamp(1rem,1vw + 0.2rem,1.5rem);
}

.sec-2_sec-div-sec-1_img{
    width: 40%;
    height: auto;
}


/* responsive design */

@media (max-width:1115px){
    .ab-sec-1_img{
        width: 70%;
    }
}

@media (max-width:890px){
    .ab-sec-1_img{
        width: 80%;
    }
}

@media (max-width:830px){

    .about_body_sections{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
    }
    .AB_sec-1{
        flex:unset
    }

  
    .AB_sec-2{
        flex:unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        width: 70%;
    }

    .ab-sec-1_img{
        width: 50%;
    }

   
}

@media (max-width:550px){


    .ab-sec-1_img{
        width: 70%;
    }

   
}
@media (max-width:400px){


    .ab-sec-1_img{
        width: 80%;
    }

   
}