.gallery-main{

    margin:0px var(--padd_main);
    padding:0px var(--padd_main);
    padding-top:var(--nav_size);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1 !important;
    position: relative;
    /* display: none; */
    
}

.gallery_sub{
    width: var(--width_main);
}
.gallary_section_title{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size:clamp(0.6rem,1vw + 0.15rem , 2.5rem);
    font-size:clamp(0.6rem,1vw + 0.3rem , 2.5rem);
    /* font-size: 1.2vw; */
    gap: 2em;
    align-items: center;
    /* margin-top: 3em; */
    padding-top: 3em;
    margin-bottom: 3em;
    font-family: var(--font-second);
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    padding-bottom: 1em;
    transition: opacity 500ms ease-in-out;
    
}

.gallery_sec_display{
    /* position: absolute;
    top:250px */
    position: sticky;
    top: 15vh;
    padding-bottom: 1em;
    z-index: 500000;
}

.gallery_sec_display_after * {
    opacity: 0;
   
}

.gallary_span{
    padding-bottom: 0.2em;
    border-bottom: 2px solid transparent;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}


.title_selected{
    border-bottom: 2px solid black !important;
}

.gallary_span:hover{
    color: rgb(139, 10, 139);
}

.gallary_section_body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
    /* border-top: 2px solid rgb(207, 202, 202); */
    padding-top: 2vh;
     
}

.item_cardWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    /* border:1px solid red; */
}
.card_wrapperDisplay{
    opacity: 0;
}

@media(max-width:1000px){
    .gallary_section_title{
        font-size: 1.55vw;
    }
}

@media(max-width:890px){
    .gallary_section_title{
        font-size: 1.6vw;
    }
}

@media(max-width:790px){
    .gallary_section_title{
        font-size: 1.7vw;
    }
}

@media(max-width:750px){
    .gallary_section_title{
        font-size: 2vw;
    }
}

@media(max-width:640px){
    .gallary_section_title{
        font-size: 2.5vw;
    }
}

@media(max-width:505px){
    .gallary_section_title{
        font-size: 2.8vw;
    }
}

@media(max-width:420px){
    .item_cardWrapper{
        flex-wrap: unset;
        flex-direction: column;
        gap: 0;
    }
}
@media(max-width:410px){
    .gallary_section_title{
        font-size: 3vw;
    }
}

@media(max-width:385px){
    .gallary_section_title{
        font-size: 3.2vw;
    }
}